<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sei.tk.service.dao.mapper.ExamMapper" >
       <resultMap id="MyExam" type="sei.tk.service.exam.vo.MyExam">
              <id column="testschedule_id" property="scheduleId" jdbcType="BIGINT"/>
              <result column="course_id" property="courseId" jdbcType="VARCHAR"/>
              <result column="course_name" property="courseName" jdbcType="VARCHAR"/>
              <result column="mkpaper_term" property="term" jdbcType="VARCHAR"/>
              <result column="mkpaper_score" property="maxScore" jdbcType="SMALLINT"/>
              <result column="stu_score" property="score" jdbcType="SMALLINT"/>
              <result column="testpaper_id" property="testpaperId" jdbcType="BIGINT"/>
       </resultMap>

       <resultMap id="GenExam" type="sei.tk.service.exam.vo.GenExam" extends="MyExam">
              <result column="passport_id" property="passportId" jdbcType="BIGINT"/>
              <result column="stu_name" property="stuName" jdbcType="VARCHAR"/>
              <result column="student_id" property="stuCode" jdbcType="VARCHAR"/>
              <result column="stu_class_id" property="stuClass" jdbcType="BIGINT"/>
       </resultMap>

       <select id="getMyExam" parameterType="long" resultMap="MyExam">
              SELECT A.testschedule_id, A.testpaperId, A.stu_score, B.course_id, B.course_name, C.mkpaper_term, C.mkpaper_score
              FROM tk_testschedule A, tk_course B, tk_mkpaper C, tk_testpaper D
              WHERE A.course_id = B.course_id and A.testpaper_id = D.testpaper_id AND D.mkpaper_id = C.mkpaper_id
              AND A.ppassport_id = #{passportId} AND A.stu_score!=-1
       </select>

       <select id="selectGradeByPage" parameterType="sei.tk.service.exam.vo.GenExam" resultMap="GenExam">
              SELECT A.testschedule_id, A.testpaper_id, A.stu_score, B.course_id, B.course_name, C.mkpaper_term, C.mkpaper_score,
              E.stu_name, E.stu_class_id, E.student_id, E.passport_id
              FROM tk_testschedule A, tk_course B, tk_mkpaper C, tk_testpaper D, tk_student E
              WHERE A.course_id = B.course_id and A.testpaper_id = D.testpaper_id AND D.mkpaper_id = C.mkpaper_id
              AND A.ppassport_id = E.passport_id AND A.stu_score!=-1
              <if test="scheduleId!=null">
                     AND A.testschedule_id=#{scheduleId}
              </if>
              <if test="testpaperId!=null">
                     AND A.testpaper_id=#{testpaperId}
              </if>
              <if test="stuCode!=null">
                     AND E.student_id LIKE #{stuCode}
              </if>
              <if test="stuClass!=null">
                     AND E.stu_class_id = #{stuClass}
              </if>
              <if test="stuName!=null">
                     AND E.stu_name LIKE #{stuName}
              </if>
              <if test="term!=null">
                     AND C.mkpaper_term LIKE #{term}
              </if>
              ORDER BY A.testpaper_id,A.stu_score DESC
              <if test="start!=null and rows!=null">
                     limit #{start}, #{rows}
              </if>
       </select>

       <select id="countGradeByPage" parameterType="sei.tk.service.exam.vo.GenExam" resultType="int">
              SELECT count(*)
              FROM tk_testschedule A, tk_course B, tk_mkpaper C, tk_testpaper D, tk_student E
              WHERE A.course_id = B.course_id and A.testpaper_id = D.testpaper_id AND D.mkpaper_id = C.mkpaper_id
              AND A.ppassport_id = E.passport_id AND A.stu_score!=-1
              <if test="scheduleId!=null">
                     AND A.testschedule_id=#{scheduleId}
              </if>
              <if test="testpaperId!=null">
                     AND A.testpaper_id=#{testpaperId}
              </if>
              <if test="stuCode!=null">
                     AND E.student_id LIKE #{stuCode}
              </if>
              <if test="stuClass!=null">
                     AND E.stu_class_id = #{stuClass}
              </if>
              <if test="stuName!=null">
                     AND E.stu_name LIKE #{stuName}
              </if>
              <if test="term!=null">
                     AND C.mkpaper_term LIKE #{term}
              </if>
       </select>

</mapper>