.my-row .xz-tx {
    float: left;
}
.begin{
    float: right;
}
.container{
    width: 95%;
    text-align: left;
}
.ques-header{
    border-bottom: 1px solid #cccccc;
    color: #9a9a9a;
}
.ques-name{
    text-align: justify;
    margin-bottom: 15px;
}
.question{
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
}
.page-footer{
    text-align: center;
    position: relative;
}
.pagination{
    display: inline-block;
}
.submit{
    position: absolute;
    right: 0px;
    top: 20px;
}

.ques-option p:hover{
    background-color: #ddd;
    cursor: pointer;
}
.ques-option p input{
    margin: 0px; !important;
}
.ques-blank input{
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    background:transparent;
    width: 250px;
}
.modal-body{
    text-align: left;
}
.modal-body a{
    text-decoration: none;
}
.modal-body .false{
    color: #e93a35;
}
.sure{
    float:right; !important;
}
.answer-wrong{
    color: #e93a35;
}
.answer-correct{
    color: #00ee00;
}
.sta-answer{
    float: right;
    color: #00a0e9;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.analysis{
    text-align: justify;
    color: #C76F1B;
}
.submit{
    width: 100px;
}
.instruction{
    height: 100px;
    line-height: 100px;
    background:transparent;
    font-size: 40px;
    text-align: center;
}
.icon{
    width: 790px;
    height: 450px;
    display: block;
    margin: 0 auto;
    background: url("/tiku/img/icon1.png");
    background-size: cover;
}